@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap');


.Container {
    background: rgba(128, 128, 128, 0.588);
    min-width: 42rem;
    margin: auto;
    // margin-top: 5rem;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    max-height: 45rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
        font-family: "Mirza", serif;
        font-weight: 400;
        font-size: 50px;
        font-style: normal;
        color: rgb(251, 255, 3);
    }

    .totalStyle {
        padding: 2rem;
        font-size: 30px;

    }

    @media only screen and (max-width: 1100px) {
        min-width: 30rem;
    }

    @media only screen and (max-width: 600px) {
        min-width: 10rem;
    }

}

.diceContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.higherButtonStyle {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    color: white;
    background: green;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.rollButtonStyle {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background: black;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.lowerButtonStyle {
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    color: white;
    background: red;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.messageStyle {
    min-height: 6.5rem;
    font-size: 28px;
    margin: 0;

    .winMessage {
        color: green;
    }

    .loseMessage {
        color: red;
    }
}