@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap');


.buttonsContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

    @media only screen and (max-width: 1100px) {
        justify-content: space-around;
        margin-top: 20px;
    }

    @media only screen and (max-width: 600px) {
        flex-direction: column-reverse;
        justify-content: baseline;
    }

    button {
        border: none;
        &:hover {
            box-shadow: 2px 4px 8px rgb(0, 0, 0);
        }
    }
}

.lowerButtonStyle,
.rollButtonStyle,
.higherButtonStyle {
    padding: 10px 20px;
    font-size: 20px;
    margin: auto;
    font-weight: 400;
    cursor: pointer;
    border-radius: 8px;
}

.lowerButtonStyle {
    background-color: #f44336;
    /* Red */
}

.rollButtonStyle {
    background-color: #4CAF50;
    /* Green */
}

.higherButtonStyle {
    background-color: #2196F3;
    /* Blue */
}