.buttonStyle{
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    .button{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
    }
}